/* --- Common --- */

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

/* --- Font Management ---  */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo&family=Bitter&family=Cabin&family=Cormorant+Garamond:ital,wght@1,700&family=Fira+Sans&family=Lato&family=Lora&family=Noto+Serif&family=Open+Sans&family=Oxygen:wght@300&family=PT+Sans:ital,wght@0,700;1,400&family=Playfair+Display:ital,wght@0,400;1,700&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto+Condensed&family=Roboto+Slab&family=Roboto:wght@300;700&family=Ruda&family=Source+Sans+Pro&display=swap');

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Monda';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/monda/v10/TK3tWkYFABsmjsphPho.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Ruda';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ruda/v14/k3kKo8YQJOpFgHQ1mQ5VkEbUKaJFsh_50qk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Abril Fatface';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Cormorant Garamond';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/cormorantgaramond/v9/co3WmX5slCNuHLi8bLeY9MK7whWMhyjYrEPzvD-KzhM.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

/* --- Titles & Text ---*/
h1,
h2,
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #131313;
	font-weight: 700;
	line-height: 3rem;
	margin: 0 0 1rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

p {
	font-family: 'Cabin', Serif;
	color: #353535;
}

/* --- Header --- */

header {
	width: 100%;
	position: absolute;
	height: 68px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.2);
	z-index: 10;
	background-color: rgba(13, 17, 37, 0.93);
	justify-content: space-around;
	display: flex;
	align-items: center;
}

a {
	color: white;
	font-family: 'Monda', Serif;
	text-decoration: none;
}

a:hover {
	color: grey;
}

/* --- Section --- */

section {
	overflow: hidden;
	min-height: 700px;
	height: 65vh;
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

section .pairing-number {
	grid-area: 3 / 2 / span 1 / span 2;
	background-color: white;
	color: #42636f;
	width: 50px;
	height: 50px;
	z-index: 10;
	justify-self: center;
	align-self: center;
}

section .pairing-number p {
	font-size: 2rem;
	line-height: 1.2;
	padding: 0.5rem 1rem;
	font-family: 'Montserrat';
}

#section10 .pairing-number p {
	padding: 0.5rem;
}

section .pairing-fonts {
	grid-area: 3 / 3 / span 4 / span 2;
	color: white;
	background: linear-gradient(to right, rgba(80, 107, 125, 0.75) 0%, rgba(80, 107, 125, 0.82) 38%, rgba(80, 107, 125, 0.96) 72%, rgba(80, 107, 125, 1) 100%);
	z-index: 1;
	height: 92%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr 0.5fr 5fr;
	align-self: flex-end;
	align-items: center;
	justify-content: flex-end;
	justify-items: flex-end;
}

section .pairing-fonts p {
	font-family: 'Monda', Serif;
	color: white;
	font-size: 0.9rem;
	opacity: 0.6;
	margin-right: 2.5rem;
	font-weight: lighter;
}

section .pairing-fonts i {
	margin: auto 2.5rem;
}

section .pairing-sample {
	grid-area: 3 / 5 / span 7 / span 6;
	background-color: #151717;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-rows: 2fr 0.5fr;
}

section .pairing-sample .up {
	padding: 3rem 4rem 4rem 4rem;
	background-color: #272a2a;
}

section .pairing-sample .up p,
section .pairing-sample .up h2 {
	color: white;
}

section .pairing-sample .up p {
	margin-bottom: 1rem;
	opacity: 0.65;
	line-height: 1.3rem;
	font-size: 1rem;
}

section .pairing-sample .up .signature {
	opacity: 0.5;
	font-style: italic;
}

section .pairing-sample .down {
	background-color: #4e5255;
	display: grid;
	height: 100%;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	align-items: center;
	padding: 1.3rem 0.5rem;
}

section .pairing-sample .down p {
	color: #839099;
	justify-self: flex-start;
	font-family: 'Monda', Serif;
	font-size: 0.8rem;
}

.view-font {
	grid-area: 1 / 2 / span 1 / span 1;
}

.view-html {
	grid-area: 2 / 2 / span 1 / span 1;
}

.button-download {
	grid-area: 1 / 1 / span 1 / span 1;
}

.button-code {
	grid-area: 2 / 1 / span 1 / span 1;
}

.font1 {
	align-self: flex-end;
	margin-bottom: 1rem;
}

.font2 {
	align-self: flex-start;
	margin-top: 1rem;
}

button {
	padding: 0.2rem 0.7rem 0.2rem 0.7rem;
	height: 2.8rem;
	box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
	border: none;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	background-color: #272a2a;
	color: white;
	font-family: 'Monda';
	font-size: 0.8rem;
	width: 55%;
	height: 80%;
	justify-self: flex-end;
	margin: auto 1rem;
}

button:hover {
	box-shadow: 1px 1px 2px #888888;
}

/* Section 1 */

#section1 .up {
	background-color: #abd174;
}

#section1 .up h2,
#section1 .up p {
	color: #131313;
}

#section1 .down {
	background-color: #f6f599;
}

#section1 .down p {
	color: #a9a85b;
}

#section1 .pairing-fonts {
	background: linear-gradient(to right, rgba(0, 39, 46, 0.75) 0%, rgba(0, 39, 46, 0.8) 41%, rgba(0, 39, 46, 0.92) 80%, rgba(0, 39, 46, 0.93) 100%);
}

#section1 {
	background-image: url('./img/bg1.jpg');
}

#section1 .pairing-sample .up h2 {
	font-size: 49px;
	line-height: 46px;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
}

#section1 .pairing-sample .up p {
	font-family: 'Cabin';
}

#section1 button {
	background-color: #abd174;
}

/* Section 2 */

#section2 {
	background-image: url('./img/bg2.jpg');
}

#section2 .up {
	background-color: #151717;
}

#section2 .up h2,
#section2 .up p {
	color: #fff;
}

#section2 .down {
	background-color: #2b3132;
}

#section2 .down p {
	color: #628288;
}

#section2 .pairing-fonts {
	background: linear-gradient(to right, rgba(80, 107, 125, 0.75) 0%, rgba(80, 107, 125, 0.82) 38%, rgba(80, 107, 125, 0.96) 72%, rgba(80, 107, 125, 1) 100%);
}

#section2 .pairing-sample .up h2 {
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

#section2 .pairing-sample .up p {
	font-family: 'Open Sans';
	font-weight: normal;
}

#section2 button {
	background-color: #151717;
}

/* Section 3 */

#section3 {
	background-image: url('./img/bg3.jpg');
}

#section3 .up {
	background-color: #7aacd0;
}

#section3 .up h2,
#section3 .up p {
	color: #131313;
}

#section3 .down {
	background-color: #adc6d8;
}

#section3 .down p {
	color: #5b7d96;
}

#section3 .pairing-fonts {
	background: linear-gradient(to right, rgba(22, 28, 34, 0.75) 0%, rgba(22, 28, 34, 0.93) 73%, rgba(22, 28, 34, 0.96) 100%);
}

#section3 .pairing-sample .up h2 {
	font-style: italic;
	font-family: 'Playfair Display', serif;
}

#section3 .pairing-sample .up p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.9rem;
}

#section3 button {
	background-color: #7aacd0;
}

/* Section 4 */

#section4 {
	background-image: url('./img/bg4.jpg');
}

#section4 .up {
	background-color: #e8e174;
}

#section4 .up h2,
#section4 .up p {
	color: #131313;
}

#section4 .down {
	background-color: #f8f3aa;
	color: #b0ad77;
}

#section4 .down p {
	color: #b0ad77;
}

#section4 .pairing-fonts {
	background: linear-gradient(to right, rgba(22, 28, 34, 0.75) 0%, rgba(22, 28, 34, 0.93) 73%, rgba(22, 28, 34, 0.96) 100%);
}

#section4 .pairing-sample .up h2 {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

#section4 .pairing-sample .up p {
	font-size: 1rem;
	line-height: 23px;
	font-family: 'Lora', serif;
}

#section4 button {
	background-color: #e8e174;
	color: #131313;
}

/* Section 5 */

#section5 {
	background-image: url('./img/bg5.jpg');
}

#section5 .up {
	background-color: #8398b2;
}

#section5 .up h2,
#section5 .up p {
	color: #131313;
}

#section5 .down {
	background-color: #b9ccdd;
}

#section5 .down p {
	color: #7c8b9a;
}

#section5 .pairing-fonts {
	background: linear-gradient(to right, rgba(22, 24, 31, 0.74) 0%, rgba(22, 24, 31, 0.76) 26%, rgba(22, 24, 31, 0.9) 72%, rgba(22, 24, 31, 0.93) 100%);
}

#section5 .pairing-sample .up h2 {
	font-weight: 400;
	font-family: 'Abril Fatface', cursive;
}

#section5 .pairing-sample .up p {
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
	line-height: 23px;
}

#section5 button {
	background-color: #8398b2;
}

/* Section 6 */

#section6 {
	background-image: url('./img/bg6.jpg');
}

#section6 .up {
	background-color: #f4a972;
}

#section6 .up h2,
#section6 .up p {
	color: #131313;
}

#section6 .down {
	background-color: #fbc28f;
}

#section6 .down p {
	color: #b1815e;
}

#section6 .pairing-fonts {
	background: linear-gradient(to right, rgba(46, 35, 37, 0.75) 0%, rgba(46, 35, 37, 0.76) 21%, rgba(46, 35, 37, 0.94) 74%, rgba(46, 35, 37, 0.98) 100%);
}

#section6 .pairing-sample .up h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 400;
	font-family: 'Ruda', sans-serif;
}

#section6 .pairing-sample .up p {
	line-height: 23px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
}

#section6 button {
	background-color: #f4a972;
}

/* Section 7 */

#section7 {
	background-image: url('./img/bg7.jpg');
}

#section7 .up {
	background-color: #f5c765;
}

#section7 .up h2,
#section7 .up p {
	color: #131313;
}

#section7 .down {
	background-color: #fbda93;
}

#section7 .down p {
	color: #5d686c;
}

#section7 .pairing-fonts {
	background: linear-gradient(to right, rgba(24, 38, 52, 0.75) 0%, rgba(24, 38, 52, 0.8) 42%, rgba(24, 38, 52, 0.91) 79%, rgba(24, 38, 52, 0.93) 100%);
}

#section7 .pairing-sample .up h2 {
	line-height: 51px;
	font-weight: 700;
	font-style: italic;
	font-family: 'Cormorant Garamond', serif;
}

#section7 .pairing-sample .up p {
	font-size: 15px;
	line-height: 23px;
	font-weight: 300;
	font-family: 'Fira Sans', sans-serif;
}

#section7 button {
	background-color: #f5c765;
	color: #131313;
}

/* Section 8 */

#section8 {
	background-image: url('./img/bg8.jpg');
}

#section8 .up {
	background-color: #b1cbb3;
}

#section8 .up h2,
#section8 .up p {
	color: #131313;
}

#section8 .down {
	background-color: #d2e6d4;
}

#section8 .down p {
	color: #889989;
}

#section8 .pairing-fonts {
	background: linear-gradient(to right, rgba(13, 27, 46, 0.75) 0%, rgba(13, 27, 46, 0.78) 29%, rgba(13, 27, 46, 0.9) 68%, rgba(13, 27, 46, 0.94) 100%);
}

#section8 .pairing-sample .up h2 {
	font-size: 46px;
	line-height: 44px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
}

#section8 .pairing-sample .up p {
	font-size: 1rem;
	line-height: 23px;
	font-family: 'Playfair Display', serif;
}

#section8 button {
	background-color: #b1cbb3;
	color: #131313;
}

/* Section 9 */

#section9 {
	background-image: url('./img/bg9.jpg');
}

#section9 .up {
	background-color: #181716;
}

#section9 .up h2,
#section9 .up p {
	color: #fff;
}

#section9 .down {
	background-color: #2f3233;
}

#section9 .down p {
	color: #5d686c;
}

#section9 .pairing-fonts {
	background: linear-gradient(
		to right,
		rgba(62, 109, 127, 0.75) 0%,
		rgba(62, 109, 127, 0.8) 41%,
		rgba(62, 109, 127, 0.92) 80%,
		rgba(62, 109, 127, 0.93) 100%
	);
}

#section9 .pairing-sample .up h2 {
	font-size: 39px;
	line-height: 40px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

#section9 .pairing-sample .up p {
	font-family: 'Cabin';
}

#section9 button {
	background-color: #181716;
}

/* Section 10 */

#section10 {
	background-image: url('./img/bg10.jpg');
}

#section10 .up {
	background-color: #bbd46e;
}

#section10 .up h2,
#section10 .up p {
	color: #131313;
}

#section10 .down {
	background-color: #e1f19a;
}

#section10 .down p {
	color: #9ca86a;
}

#section10 .pairing-fonts {
	background: linear-gradient(to right, rgba(19, 33, 46, 0.75) 0%, rgba(19, 33, 46, 0.78) 32%, rgba(19, 33, 46, 0.9) 69%, rgba(19, 33, 46, 0.94) 100%);
}

#section10 .pairing-sample .up h2 {
	font-size: 46px;
	line-height: 51px;
	font-weight: 300;
	font-family: 'Oxygen', sans-serif;
}

#section10 .pairing-sample .up p {
	font-size: 16px;
	line-height: 23px;
	font-family: 'Noto Serif', serif;
}

#section10 button {
	background-color: #bbd46e;
}

/* --- Footer --- */
/* --- Media Query --- */

@media (max-width: 768px) {
	/* --- Header --- */
	/* --- Main --- */
	/* --- Section --- */
	/* --- Footer --- */
}

@media (max-width: 992px) {
	/* --- Header --- */
	/* --- Main --- */
	/* --- Section --- */
	/* --- Footer --- */
}

@media (min-width: 992px) and (max-width: 1200px) {
	/* --- Header --- */
	/* --- Main --- */
	/* --- Section --- */
	/* --- Footer --- */
}
